.idea/
.qtcreator/
.vs/
cmake-build-*/
build/
build-*/
bin/
obj/
out/
.cache/
*.swp
*.swo
*~
Thumbs.db
.DS_Store
*.o
*.obj
*.exe
*.ilk
*.dll
*.so
*.dylib
*.pdb
*.idb
*.moc
*.uic
*.qrc
imgui.ini
*.log
*.user
*.VC.db
CMakeUserPresets.json
CMakeSettings.json
compile_commands.json
campus.generated.json
